@model IEnumerable<Thc.Models.Models.Alquiler>

@{
    ViewBag.Title = "Lista de Alquileres";
}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de Alquileres</h1>
  </div>
  <div class="panel-body">
    <form method="GET" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" name="buscar" class="form-control" size="60"/>
        </div>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-info">Buscar</button>
    </form>
    <div align="right">
        <a href="@Url.Action("Create", "Alquiler")" class="btn btn-warning" style="margin: auto; color: #ffffff;">
            Registrar Alquiler
        </a>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-condensed table-striped">
      <tr class="info text-primary" style="font-size:12.5px; text-align:center">
        <th>
            Cliente
        </th>
        <th>
            Lugar Referencia
        </th>
        <th>
            Conductor
        </th>
        <th>
            Vehículo
        </th>
        <th>
            Fechas
        </th>
        <th>
            Nro. Dias
        </th>
        <th>
            Monto x Día
        </th>
        <th>
            Monto Total
        </th>
        <th>
            Acción
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombresRazonSocial) @Html.DisplayFor(modelItem => item.Cliente.AppPaterno) @Html.DisplayFor(modelItem => item.Cliente.AppMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LugarReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conductor.NameConductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auto.Unidad.DescripcionUnidad) / @Html.DisplayFor(modelItem => item.Auto.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio) @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroDias)
        </td>
        <td>
            S/. @Html.DisplayFor(modelItem => item.MontoXdia)
        </td>
        <th>
            S/. @Html.DisplayFor(modelItem => item.MontoTotal)
        </th>
            <td align="right">
                <img src="~/Content/icons/pencil-icon.png" title="Editar" width="16px"/>&nbsp;
                <a href="@Url.Action("Delete", new { Id = item.Id})">
                    <img src="~/Content/icons/delete-icon.png" title="Eliminar" width="18px"/>
                </a>
            </td>
        </tr>
    }
    </table>
  </div>
</div>

