@model IEnumerable<Thc.Models.Models.Cliente>

@{
    ViewBag.Title = "Listar Clientes";
}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de Clientes</h1>
  </div>
  <div class="panel-body">
    <form method="GET" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" name="buscar" class="form-control" size="60"/>
        </div>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-info">Buscar</button>
    </form>
    <div align="right">
        <a href="@Url.Action("Create", "Cliente")" class="btn btn-warning" style="margin: auto; color: #ffffff;">
            Nuevo Cliente
        </a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condensed table-striped">
        <tr class="info text-primary" style="font-size:12.5px; text-align:center">
            <th>
                Tipo
            </th>
            <th>
                Número
            </th>
            <th>
                Denominación
            </th>
            <th>
                Celular
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Dirección
            </th>
            <th>
                E-mail
            </th>
            <th>
                Comentarios
            </th>
            <th>
                Acción
            </th>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @(item.TipoDoc == true ? "DNI" : "RUC")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniRuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombresRazonSocial) @Html.DisplayFor(modelItem => item.AppPaterno) @Html.DisplayFor(modelItem => item.AppMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td align="right">
                <img src="~/Content/icons/pencil-icon.png" title="Editar" width="16px"/>&nbsp;
                <a href="@Url.Action("Delete", new { Id = item.Id})">
                    <img src="~/Content/icons/delete-icon.png" title="Eliminar" width="18px"/>
                </a>
            </td>
        </tr>
    }
    </table>
  </div>
</div>

